@{
    ViewBag.Title = "About";
}



<div class="single">
    <div class="container">
        <h3>@ViewBag.Message</h3>
        <br />
        <h4>
            MngYourContract was established in 2017 by ambitious ukrainian students of Kyiv-Mohyla academy.<br />
            Our service will make your project management easier and workflow enjoyable.
        </h4>
    </div>
</div>