@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p> MngYourContract was established in 2017 by ambitious ukrainian students of Kyiv-Mohyla academy. 
    Our service will make your project management easier and workflow enjoyable.</p>
