@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<br />
<h1><b>MngYourContract Company</b></h1><br /><br />

<address>
    <strong>Мanager: Anastasia Danilochkina</strong> <br />
    <strong>Our address: Hryhoriy Skovoroda St. 2</strong> <br />
    <strong>Phone: +380 000 000 000</abbr></strong>  <br />
</address>


<address>
    <strong>Support email:</strong> Support@example.com <br />
    <strong>Marketing email:</strong> Marketing@example.com</a>
</address>

<br/>

<h5>@ViewBag.Message</h5>