@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<br />
<br />
<h1><b>MngYourContract Company</b></h1><br /><br />

<address>
    <strong>Мanager:</strong>
    <strong>Our address:</strong> 
    <strong><abbr title="Our phone">P:</abbr></strong>  <br />
</address>


<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Write mail of support here</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Write mail of marketing here</a>
</address>