@{
    ViewBag.Title = "Home Page";
}

@*TODO Write some impressive stuff here*@
<h1>Welcome to our MngYourContract community!</h1>
<img src="http://study.com/cimages/course-image/praxis-ii-business-education-test_118084_large.jpg" />
<br />
<h3>With our application you can run your business clearly and easily: clients, contracts, 
    employees, managers and so on - this is what we have to show you. </h3>
<h2 style="font-weight:bold">We hope you enjoy working with us!</h2>

