@{
    ViewBag.Title = "Home Page";
}
<div class="banner">
    <div class="container">
        <div class="banner-title">
            <h4>Welcome to our MngYourContract community!</h4>
            <p>
                With our application you can run your business clearly and easily: clients, contracts,
                employees, managers and so on - this is what we have to show you.
            </p>
            <br />
            <p style="font-weight:bold">We hope you enjoy working with us!</p>
        </div>
    </div>
</div>