@model MngYourContracr.MngYourContractDatabase.Manager

@{
    ViewBag.Title = "Manager";
    var allProjectsLinkTxt = "All projects";
    if(1==1){
        allProjectsLinkTxt = "My projects";    
    }
}
<style>
    .button {
        background-color: #333;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

        .button:hover {
            text-decoration: none;
            background-color: #90EE90;
        }
</style>

<h2>Manager</h2>

<h3>Hello @Model.User.FirstName   @Model.User.LastName
        </h3>


<a class="button" href="/Manager/Projects">@allProjectsLinkTxt</a>

<a class="button" href="/Manager/Teams">My teams</a>

<a class="button" href="/Manager/CurrentProjects">Current projects</a>
<a class="button" href="/Manager/CompletedProjects">Completed projects</a>

