@{
    ViewBag.Title = "Completed";
}

<<<<<<< HEAD
<a href="/Employee/CurrentTasks"><h2>Congratulations on completing task!</h2></a>
=======
<a href="/Employee/CurrentTasks"><h2>CONGRATULATIONS!!!</h2></a>
>>>>>>> origin/master
