@model MngYourContracr.MngYourContractDatabase.Client

@{
    ViewBag.Title = "Our client";
}

<h2>Welcome home to MngYourContract client page</h2>
<h3>Greetings @Model.User.FirstName @Model.User.LastName!!!</h3>
<h4>We hope you will accomplish something great today</h4>
<h3><a href="/Client/CurrentProjects">Current projects</a></h3>
<h3><a href="/Client/CompletedProjects">Completed projects</a></h3>
<h3><a href="/Client/CreateProject">Sign new contract</a></h3>