@model MngYourContracr.MngYourContractDatabase.Client

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag.Title = "Client";
}

<h2>Client</h2>
<h3>Greetings @ViewBag.User.FirstName @ViewBag.User.LastName!</h3>
<h4>Role: @ViewBag.User.Description</h4>

<h3><a href="/Client/CurrentProjects">Current projects</a></h3>
<h3><a href="/Client/CompletedProjects">Completed projects</a></h3>